@import "react-international-phone/style.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    @apply w-full px-4 py-3 rounded-xl bg-black/40 border border-gray-700 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-white/40 focus:border-white transition-all;
}

html,
body {
    background-color: #0f0f0f;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

@keyframes borderMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

.animate-border {
    background-size: 200% 200%;
    animation: borderMove 3s linear infinite;
}